/* RainyWeather.css */
.rainyContainer {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.rainyBackground {
  background-size: cover;
  background-repeat: no-repeat;
  width: 80rem;
  filter: blur(3px);
}

.rainImg {
  width: 100%;
  display: block;
}

.rainyText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #657786;
  transition: opacity 0.5s ease;
}

.rainyText:hover {
  opacity: 0.7;
}
