.winter {
  text-align: center;
}

.light {
  color: black;
}

.dark {
  color: white;
}

.modeIcon {
  height: 2rem;
  width: 2rem;
  justify-content: center;
  text-align: center;
}

.img {
  height: 80vh;
}
